<h2>Update</h2>
<form class="form-horizontal" ng-submit="updateUser(user)" name="fromEditUser" novalidate>
    <h4>Update current user</h4>
    <hr />


    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="name" ng-maxlength="32" ng-model="user.Name" required />
            <span class="text-danger" ng-show="fromEditUser.name.$invalid && (fromEditUser.name.$touched || fromEditUser.name.$dirty)">
                <span ng-show="fromEditUser.name.$error.required">Name is required</span>
                <span ng-show="fromEditUser.name.$error.maxlength">Name must be less than or equal to 32</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
            <input type="email" class="form-control" ng-model="user.Email" name="mail" ng-maxlength="50" required />
            <span class="text-danger" ng-show="fromEditUser.mail.$invalid && (fromEditUser.mail.$touched || fromEditUser.mail.$dirty)">
                <span ng-show="fromEditUser.mail.$error.required">Email is required</span>
                <span ng-show="fromEditUser.mail.$error.email">Invalid Email address</span>
                <span ng-show="fromEditUser.mail.$error.maxlength">Email must be less than or equal to 50</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Address</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="user.Address" name="address" ng-maxlength="50" ng-minlength="2" required />
            <span class="text-danger" ng-show="fromEditUser.address.$dirty && (fromEditUser.address.$error.minlength || fromEditUser.address.$error.maxlength)">
                Address must be between 2 to 50
            </span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" class="btn btn-success" value="Update" ng-if="states.showUpdateButton" ng-disabled="fromEditUser.$pristine || fromEditUser.$invalid" />
            <input type="submit" href="#/" class="btn btn-default" value="Cancel">
        </div>
    </div>
</form>